*{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Merriweather', serif;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: floralwhite;
}

#top a{
	color: white;
}

nav{
	background-color: lightcoral;
}

.navbar-nav{
	float: none;
	margin: 0 auto;
	text-align: center;
}

#navbarSupportedContent > ul{
	margin-right: auto;
}

nav form, nav button{
	margin-top: 8px;
	margin-bottom: 8px;
}

#banner{
	background-image:  url(home.png);

/*stretch image*/
background-size: cover;
/*select part of bkgd img used for cover*/
background-position: center;
height: 80vh;
width: 100%;
margin-left: 4px;
margin-top: 16px;
margin-bottom: 16px;
justify-content: left;
}

#banner h1{
	margin-bottom: 8px;
	margin-top: 8px;
	font-size: 5vh;
	text-align: left;
	color: lightcoral;
	text-shadow: 2px 2px darkgray;
}

#aboutMe > h2{
	margin-bottom: 48px;
	margin-top: 48px;
	text-align: center;
	color: lightcoral;
}

#aboutMe div{
	margin-bottom: 16px;
	margin-top: 16px;
	text-align: center;	
	color: lightcoral;
	font-size: 3vh;
}

#aboutMe img{
	border-radius: 25px;
}

#socials > a{
	color: lightcoral;
}

#projects{
	background-color: blanchedalmond;
	padding-bottom: 16px;
}

#projects > h2, #projects > div{
	margin-bottom: 48px;
	margin-top: 48px;
	color: lightcoral;
	text-align: center;	
}

#projects img{
	border-radius: 25px;
}

#contact > h2{
	margin-bottom: 48px;
	margin-top: 48px;
	color: lightcoral;
	text-align: center;
}

#contact #contactForm{
	padding: 16px;
	background-color: lightcoral;
	text-align: center;
	justify-content: center;
	margin-bottom: 48px;
}

#myModal h4{
	color: lightcoral;
}

#modalBody{
	color: lightcoral;
}

#modalFooter{
	color: lightcoral;
}

footer{
	color: white;
	text-align: center;
	margin-left: 16px;
	margin-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	background-color: lightcoral;
}